:root {
    --white: #fff;
    --red: #f54932;
    --grey: #595653;

    --blue: #3057a2;
    --blue-dark: #1e4693;
    --brown-light: #e9ded4;

    --black: #313131;

    --yellow: #fbce51;
    --light-yellow: #ffbf0c;

    --button-black: #1f1f1f;
    --button-light-black: #3b3b3b;
    --button-yellow: #fbce51;
    --button-light-yellow: #ffbf0c;
}
