@font-face {
    font-family: "Merriweather";
    src:
        url("../assets/fonts/Merriweather/Merriweather-Regular.woff2") format("woff2"),
        url("../assets/fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Merriweather";
    src:
        url("../assets/fonts/Merriweather/Merriweather-Bold.woff2") format("woff2"),
        url("../assets/fonts/Merriweather/Merriweather-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Golos Text";
    src:
        url("../assets/fonts/GolosText/GolosText-Regular.ttf") format("woff2"),
        url("../assets/fonts/GolosText/GolosText-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Golos Text";
    src:
        url("../assets/fonts/GolosText/GolosText-Medium.ttf") format("woff2"),
        url("../assets/fonts/GolosText/GolosText-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Golos Text";
    src:
        url("../assets/fonts/GolosText/GolosText-SemiBold.ttf") format("woff2"),
        url("../assets/fonts/GolosText/GolosText-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}
