@use "./normalize.css";
@use "./vars";
@use "./colors";
@use "./fonts";

@use "./sections";

body {
    background-color: var(--white);
    font-family: var(--font2);
    color: var(--black);
}
.container {
    width: 1222px;
    margin: 0 auto;
    box-sizing: border-box;
}
