@use "./base/base";
@use "./utils/utils";
@use "./layout/layout";
@use "./components/components";
@use "./pages/pages";

body {
    background-color: var(--white);
    font-family: var(--font2);
    color: var(--black);
}
.container {
    width: 1222px;
    margin: 0 auto;
    box-sizing: border-box;
}
