@use "../../utils/mixins" as *;

.button {
    display: flex;
    min-height: 72px;
    background-color: var(--button-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: var(--white);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    border: none;
    border-radius: 66px;
    box-sizing: border-box;
    transition:
        background-color 0.2s ease,
        color 0.2s ease,
        border-color 0.2s ease;
    @include media-max-width(1279) {
        min-height: 60px;
        padding: 0 30px;
    }
    @include media-max-width(650) {
        min-height: 47px;
        padding: 0 20px;
    }
    &:not(.blue) {
        &:not(.outline) {
            @media (hover: hover) {
                &:hover {
                    background-color: var(--button-yellow);
                    color: var(--button-black);
                }
            }
            &:active {
                background-color: var(--button-light-yellow);
                color: var(--button-black);
                border-color: var(--button-light-yellow);
            }
        }
        &.outline {
            background-color: transparent;
            color: var(--button-black);
            border: 2px solid var(--button-black);
            @include media-max-width(1023) {
                background-color: rgba(255, 255, 255, 0.9);
                border: none;
            }
            @media (hover: hover) {
                &:hover {
                    background-color: var(--button-black);
                    color: var(--white);
                }
            }
            &:active {
                background-color: var(--button-light-black);
                color: var(--white);
                border-color: var(--button-light-black);
            }
        }
    }
    &.blue {
        background-color: var(--blue);
        color: var(--white);
        &:not(.outline) {
            @media (hover: hover) {
                &:hover {
                    background-color: var(--blue-dark);
                }
            }
            &:active {
                background-color: var(--button-black);
            }
        }
        &.outline {
            background-color: transparent;
            color: var(--blue);
            border: 2px solid var(--blue);
            @media (hover: hover) {
                &:hover {
                    background-color: var(--blue);
                    color: var(--white);
                }
            }
            &:active {
                background-color: var(--blue-dark);
                color: var(--white);
            }
        }
    }
    &.small {
        min-height: 35px;
        padding: 0 12px;
        border-radius: 62px;
        &.outline {
            border-width: 1px;
        }
    }
}
a.button {
    text-decoration: none;
}
