@use "../../../utils/mixins" as *;

.about {
    margin-top: 80px;
    @include media-max-width(650) {
        margin-top: 50px;
    }
}
.about__heading {
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include media-max-width(1023) {
            flex-direction: column;
        }
    }
}
.about__heading__title {
    display: inline;
    flex: 1;
    margin-right: 64px;
    @include media-max-width(1023) {
        margin-right: 0;
    }
    &.mobile {
        @include media-min-width(1024) {
            display: none;
        }
    }
}
.about__heading__title__dynamic {
    @include media-max-width(1023) {
        display: none;
    }
}
.about__heading__image {
    width: 394px;
    @include media-max-width(1023) {
        width: 100%;
        max-width: 394px;
        margin: 24px auto;
    }
    img {
        display: block;
        width: 100%;
    }
}
.about__content {
    margin-top: 36px;
    @include media-max-width(1023) {
        margin-top: 30px;
    }
    .container {
        display: flex;
        flex-direction: row;
        @include media-max-width(1023) {
            width: 100%;
            flex-direction: column;
        }
    }
}
.about__content__image {
    width: 530px;
    margin: 0 20px 0 -25px;
    position: relative;
    @include media-max-width(1279) {
        width: 390px;
    }
    @include media-max-width(1023) {
        width: 100%;
        max-width: 530px;
        margin: 0 auto;
    }
    &:before {
        display: block;
        height: 100%;
        width: 100%;
        background-image: url("../assets/images/about-texture.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        content: "";
        mix-blend-mode: color-burn;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    img {
        display: block;
        width: 100%;
    }
}
.about__content__description {
    margin-top: 30px;
    flex: 1;
    @include media-max-width(1023) {
        width: 89%;
        margin: 24px auto 0;
    }
}
.about__content__description__characteristics {
    margin-top: 60px;
    @include media-max-width(1023) {
        margin-top: 44px;
    }
}
.about__content__description__characteristics__item {
    display: flex;
    font-size: 20px;
    line-height: 24px;
    color: var(--black);
    flex-direction: row;
    @include media-max-width(1023) {
        flex-direction: column;
        padding: 16px 0;
        &:nth-child(1) {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
    &:nth-child(1) {
        div {
            padding-top: 0;
        }
    }
    &:last-child {
        div {
            padding-bottom: 0;
        }
    }
    &:not(:nth-child(1)) {
        border-top: 2px solid var(--light-grey);
    }
    div {
        box-sizing: border-box;
        @include media-min-width(1024) {
            padding: 16px 0;
        }
        &:nth-child(1) {
            @include media-min-width(1024) {
                width: 305px;
                padding-right: 16px;
                border-right: 2px solid var(--light-grey);
            }
            span {
                opacity: 0.7;
            }
        }
        &:nth-child(2) {
            font-weight: 600;
            flex: 1;
            @include media-min-width(1024) {
                padding-left: 16px;
            }
            @include media-max-width(1023) {
                margin-top: 12px;
            }
            em {
                text-decoration: line-through;
                text-decoration-color: var(--red);
                position: relative;
            }
        }
    }
}
.about__content__description__note {
    font-size: 20px;
    line-height: 24px;
    color: var(--blue);
    margin-top: 48px;
    @include media-max-width(1023) {
        font-size: 18px;
        line-height: 22px;
        margin-top: 40px;
    }
}

.about-title {
    font-family: var(--font1);
    font-size: 36px;
    line-height: 49px;
    color: var(--black);
    text-transform: uppercase;
    @include media-max-width(1279) {
        font-size: 32px;
        line-height: 40px;
    }
    @include media-max-width(1023) {
        font-size: 28px;
        line-height: 38px;
    }
    em {
        font-weight: 700;
        color: var(--red);
    }
}
