@use "../../../utils/mixins" as *;

.running-line {
    display: flex;
    height: 60px;
    background-color: var(--red);
    font-weight: 400;
    font-family: var(--font1);
    font-size: 22px;
    line-height: 60px;
    color: var(--white);
    text-transform: uppercase;
    align-items: center;
    overflow: hidden;
    position: relative;
    @include media-max-width(650) {
        height: 38px;
        font-size: 16px;
        line-height: 38px;
    }
    span {
        white-space: nowrap;
        padding-right: 30px;
        position: relative;
        &:after {
            display: block;
            height: 6px;
            width: 6px;
            background-color: var(--white);
            content: "";
            margin: auto;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 12px;
            bottom: 0;
        }
    }
}
.running-line__text {
    display: inline-flex;
}
