.stages {
    margin-top: 200px;
    overflow: hidden;
    .container {
        position: relative;
    }
}
.stages__title {
    max-width: 800px;
    h2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
.stages__title__1 {
    width: 100%;
}
.stages__title__2 {
    margin-right: 25px;
}
.stages__title__3 {
    flex: 1;
    max-width: 280px;
    font-size: 20px;
    line-height: 24px;
    color: var(--blue);
}
.stages__content {
    margin-top: 54px;
}
.stages__slider {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.stages__slider__slide {
    &.col-2 {
        display: flex;
        flex-direction: row;
        gap: 20px;
        .stages__card {
            flex: 1;
        }
    }
    &:nth-child(1) {
        grid-column: span 2;
    }
    &:nth-child(2) {
        grid-row: span 2;
    }
    &:nth-child(3) {
        grid-column: span 2;
    }
    &:nth-child(5) {
        grid-column: span 2;
        .stages__card__text {
            max-width: 445px;
        }
    }
    .stages__card {
        min-height: 100%;
    }
}
.stages__image {
    width: 376px;
    position: absolute;
    right: -62px;
    bottom: 0;
    z-index: 3;
    img {
        display: block;
        width: 100%;
    }
}
