@use "../utils/mixins" as *;

footer {
    min-height: 150px;
    background-color: var(--brown-light);
    font-size: 16px;
    line-height: 19px;
    opacity: 0.6;
    padding: 40px 0;
    box-sizing: border-box;
    @include media-max-width(650) {
        min-height: 0;
        padding: 40px 0 60px 0;
    }
}
