@use "../utils/mixins" as *;

header {
    width: 100%;
    padding: 26px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    @include media-max-width(650) {
        padding: 18px 0;
    }
    .logo {
        display: block;
        width: 245px;
        transition: opacity 0.2s ease;
        @include media-max-width(650) {
            width: 213px;
        }
        @media (hover: hover) {
            &:hover {
                opacity: 0.7;
            }
        }
        img {
            display: block;
            width: 100%;
        }
    }
}
